@use 'variables'
@use 'mixins'

*
  margin: 0
  padding: 0
  box-sizing: border-box

  li 
    list-style: none

body
  font-family: variables.$font-family
  height: 100vh
  width: 100%

  
div.container
  @include mixins.container 
  @include mixins.mobile
    padding: 2rem 0 5rem

header
  background-color: variables.$bg-header
  height: 23vh




div.header-container  
  @include mixins.mobile
    position: fixed
    width: 100%
    background-color: variables.$bg-header
    color: variables.$primary-color
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: 1rem
    z-index: 1
  @include mixins.desktop
    @include mixins.container
    background-color: variables.$bg-header
    display: flex
    flex-direction: row
    text-align: center
    align-items: baseline
    justify-content: center

  .brand  
    @include mixins.container 
    @include mixins.desktop
      margin: 0
      padding: 0 0 0 .5rem
      width: 30vw
      color: variables.$primary-color
    h1
      width: 100%
      @include mixins.desktop
        text-align: start
      

  nav
    @include mixins.mobile
      width: 60vw  
      #nav-item-location,
      #nav-item-attendance
        display: none
    @include mixins.desktop
      @include mixins.break-point
        width: 60vw
        text-align: start
      #nav-item-home,
      #nav-item-cart
        display: none

    ul
      display: flex
      justify-content: space-between
      max-width: 100%
      @include mixins.mobile
        width: 100%  
        justify-content: space-between
        border-top: 1px solid #cecece
        background-color: #FFF
        position: fixed
        bottom: 0
        left: 0

    li
      display: flex
      @include mixins.mobile
        a
          width: 5.8rem
          height: 4rem
          text-decoration: none
          color: variables.$secondary-color
          display: flex
          flex-direction: column
          align-items: center
          justify-content: center
          gap: .3rem
          &:hover
            background-color: #e2dfdf
          p
            font-size: .7rem

      @include mixins.desktop
        a
          width: 10rem
          height: 4rem
          text-decoration: none
          color: variables.$primary-color
          display: flex
          flex-direction: row
          align-items: center
          justify-content: center
          gap: .4rem
          &:hover
            color: #e2dfdf
          p
            font-size: .7rem

    .nav-search
      display: flex
      
      @include mixins.desktop
        margin: 0 1.5rem 

      #search
        @include mixins.input
        outline: none

      button
        background-color: variables.$primary-color
        width: 2rem
        height: 3rem
        border-radius: .2rem 0 0 .2rem
        border: none
        

    .nav-search:focus-within
      @include mixins.mobile
        border: 2px #ba8fdf solid
        border-radius: .2rem 
      @include mixins.desktop 
        border: 2px solid #ba8fdf 
        border-radius: .2rem 
             

.breadcrumb
  padding: 1rem .5rem 
  list-style: none
  display: flex
  gap: .2rem
  .breadcrumb-item,
  .breadcrumb-item-home,
  .breadcrumb-item-wishlist
    text-decoration: none
    color: variables.$secondary-color
    font-size: 1rem
    font-weight: 700
  .breadcrumb-item-home,
  .breadcrumb-item-wishlist
    text-decoration: underline
    


section.cards
  display: flex
  flex-wrap: wrap
  gap: 1rem
  justify-content: center


.card
  border: 1px solid #cecece
  max-width: 250px
  max-height: 350px
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  background: #FFF
  padding: 1rem 1.5rem
  position: relative
  
    
  .card-image
    width: 200px
    height: 200px
    img
      width: 100%
      object-fit: cover

  .card-title
    font-size: 100%
    margin-top: 1rem
    max-width: 240px

  .card-price
    margin-top: 2rem
    color: variables.$price-color
    font-weight: 700

.card-wishlist
  padding: .5rem
  height: 2.5rem
  clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%)
  background-color: #000
  border: none
  border-radius: 2px 2px 0 0
  position: absolute
  top: -3px
  left: 0
  cursor: pointer


.card-wishlist-delete
  position: absolute
  top: -1px
  right: 1px
  cursor: pointer
  background-color: transparent 
  border: none
  
.iconDeleteWishlist 
  height: 2rem
  width: 1.5rem
  cursor: pointer
  
.no-wishlist 
  @include mixins.container
 
